.score-page {
    -fx-background-color: rgb(65, 131, 215);
}

.score-text {

    -fx-font-family: "Lato";
    -fx-text-fill: #fff;

}

.page-headline {
    -fx-font-weight: 800;
    -fx-font-size: 15pt;
    -fx-padding: 30 0 5 0;
}

.game-score-time {
    -fx-label-font-weight: 600;
    -fx-font-size: 30pt;
    -fx-padding: 5 0 30 0;
}

.input-label {
    -fx-font-size: 14pt;
    -fx-padding: 0 15 0 0;
}

.name-text-field {
    -fx-border-color: transparent transparent rgb(255,255,255) transparent;
    -fx-border-width: 2;
    -fx-min-width: 200;
    -fx-min-height: 35;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
    -fx-font-family: "Lato";
    -fx-font-size: 14pt;
    -fx-alignment: center;
    -fx-text-fill: rgb(255,255,255);
    -fx-font-weight: bold;
}

.score-line {
    -fx-padding: 5 0 5 0;
    -fx-font-size: 15pt;
    -fx-label-font-weight: 700;
}

.score-button {
        -fx-background-color: #fff;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-height: 45;
    -fx-min-width: 150;
    -fx-border-radius: 4;
    -fx-cursor: hand;
        -fx-font-family: "Lato";
    -fx-text-fill: rgb(65, 131, 215);
    -fx-font-size: 15pt;
    -fx-font-weight: 700;
}